<h1><%= @task.title %></h1>
<button type="button" class="btn btn-default navbar-btn" id="edit-task">
  <%= link_to "Edit this task", edit_task_path %>
</button>
<div class="details"><%= @task.details %></div>
<% if @task.completed == true %>
  <input type="checkbox" id=@task.title name="feature"
             value=@task.title checked />
  <label for=@task.title>This task is completed</label>
  <% else %>
  <input type="checkbox" id=@task.title name="feature"
             value=@task.title />
  <label for=@task.title>This task has not yet been completed</label>
<% end %>
<div>
  <i class="fas fa-backward"></i>
  <%= link_to "Back to list", tasks_path %>
</div>
